.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  flex-grow: 1;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--theme-bg-color);
  .main-container {
    height: 100%;
    margin: 10px;
    .search-content-container {
      display: flex;
      height: 100%;
      .content-list {
        margin-left: 8px;
        overflow: auto;
        scrollbar-width: none;
        background: var(--block-bg-color);
        width: calc(100% - 270px);

        @media screen and (max-width: 800px) {
          width: calc(100%);
        }

        --num-columns: 4; // result-content 一行子元素数量

        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, and Opera */
        }

        .result-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          animation: slideY 0.4s both;
          height: 45px;
          padding: 8px;
          border-bottom: 1px solid var(--body-bg-color);

          .searched-show {
            font-size: 14px;
            font-weight: 600;
          }

          .sort-content {
            font-size: 14px;
            color: var(--subtitle-color);
            .post-time {
              font-weight: 600;
              color: var(--subtitle-color);
            }
            .menu-icon {
              font-size: 9px;
              color: var(--placeholder-color);
              margin-left: 6px;
            }
          }
        }

        .result-content {
          display: grid;
          grid-template-columns: repeat(var(--num-columns, 4), 1fr);
          // grid-template-columns: repeat(4, 1fr);
          grid-column-gap: 16px;
          grid-row-gap: 16px;
          animation: slideY 0.4s both;
          padding: 16px;
          @media screen and (max-width: 1440px) {
            grid-template-columns: repeat(3, 1fr);
          }
          @media screen and (max-width: 1212px) {
            grid-template-columns: repeat(2, 1fr);
          }
          @media screen and (max-width: 930px) {
            grid-template-columns: repeat(1, 1fr);
          }
        }

        .columns-count {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}

// 通用按钮样式
.btn {
  border: none;
  color: var(--button-color);
  background-color: var(--active-color);
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
  cursor: pointer;
}

//  统一hover样式
.hover {
  cursor: pointer;
  &:hover {
    // color: #91caff;
    color: #175399;
  }
}

// Y轴 动画效果
@keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}

//  标签样式
.tag-item {
  background-color: var(--active-light-color);
  color: var(--active-color);
  font-size: 11px;
  font-weight: 500;
  padding: 2px 8px;
  border-radius: 4px;
  margin-top: 14px;
  & + & {
    margin-left: 4px;
  }
}
