.checkbox-group {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 13px;
  label {
    margin-left: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  & + & {
    margin-top: 10px;
  }
}

.job-number {
  margin-left: auto;
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
}
