.filter-list {
  width: 270px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
  padding: 16px;
  background: var(--block-bg-color);
  .filter-content {
    padding-top: 16px;
  }

  .filter-item {
    margin-bottom: 16px;
  }
}

.search-header {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.checkbox-group {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 13px;
  label {
    margin-left: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--subtitle-color);
  }
  & + & {
    margin-top: 10px;
  }
}

.filter-title {
  font-size: 12px;
  font-weight: 500;
  color: rgb(101, 109, 118);
  text-align: left;
}

.check-count {
  margin-left: auto;
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
}
