.job-time {
  padding-top: 20px;
  &-title {
    font-size: 14px;
    font-weight: 500;
  }
}

.job-time-title {
  font-size: 12px;
  font-weight: 500;
  color: rgb(101, 109, 118);
  text-align: left;
}

.job-wrapper {
  padding-top: 20px;
}
